*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li{
    display: inline;
}

header li a{
    color: #f5f6fa;
}

body > header{
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}

header > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    width: 1366px;
    margin: 0 auto;
}

.container a{
    text-decoration: none;
}

.container a:hover{
    text-decoration: underline;
}

article img{
    width: 100%;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article{
    width: 30%;
    margin-bottom: 16px;
}

section{
    padding: 16px 0;
}

.container h2{
    margin-bottom: 16px;
}

.articles article h3{
    margin: 8px 0 8px;
}

.articles article a{ 
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}


#sports .articles article a{
    background-color: rgb(59, 122, 103);
}

#economy .articles article a{
    background-color: #9a9e5c;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p, 
.articles article h3, 
.articles article a,
.container > h2{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

.container > h2{
    font-size: 36px;
}

#sports{
    background-color: aquamarine;
}

#economy{
    background-color: bisque;
}

